<svg width="28" height="28" xmlns="http://www.w3.org/2000/svg">
 <!-- Created with Method Draw - http://github.com/duopixel/Method-Draw/ -->
 <g>
  <title>background</title>
  <rect fill="#fff" fill-opacity="0.0" id="canvas_background" height="34" width="34" y="-1" x="-1"/>
  <g display="none" overflow="visible" y="0" x="0" height="100%" width="100%" id="canvasGrid">
   <rect fill="url(#gridpattern)" stroke-width="0" y="0" x="0" height="100%" width="100%"/>
  </g>
 </g>
 <g>
  <title>Layer 1</title>
  <ellipse ry="11" rx="11" id="svg_1" cy="14.5" cx="14.5" stroke-width="2" stroke="#0f0f00" fill="#000" fill-opacity="0.2"/>
  <text xml:space="preserve" text-anchor="start" font-weight="bold" font-family="'League Gothic', sans-serif" font-size="12" id="svg_2" y="18.5" x="7.5" stroke-width="0" stroke="#000" fill="#000"><%= @number.to_s.rjust(2, "0") %></text>
 </g>
</svg>
