<h2>Lotofácil</h2>

<form>
  <textarea name="config" rows="5" cols="50">:last_results_count: 12
:concourse_since:
:numbers:
- 01 02 03 04 05 06 07 08 09 10 11 12 13 14 15
  </textarea><br/>
  <input type="submit" id="apurar" name="Apurar">
</form>
<div id="apuracao"></div>
<%  content_for :javascript do %>
<script type="text/javascript">
$(function () {
    var cfg = window.localStorage.lfconfig;
    if (cfg && cfg.startsWith(":last_results_count")) {
        document.forms[0].config.value = cfg;
    }
    $('#apurar').on('click', function (e) {
        e.preventDefault();
        window.localStorage.lfconfig = cfg = $(this).parent('form').find('textarea').val();
        $('#apuracao').html('<hr><pre>'+cfg+'</pre>');
    });
});
</script>
<%  end %>